
<!DOCTYPE HTML>

<html lang="en">

<head>
	


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

<script>
	
	var benimapp=angular.module("myapp",['ngAnimate']);
	benimapp.controller("mycontrol",function($scope){

		



	});



</script>

<style>

button{


	cursor: pointer;
	background: cornflowerblue;
	color: white;
	border: none;
	outline: none;
	height: 40px;
	width: 150px;
}
button:disabled{
	cursor: not-allowed;
	background-color: grey; 
}

div{
	color:red;
	height: 20px;
	width: 150px;
	background: pink;


}

	
</style>


<meta charset="utf-8">

<title> Angular JS 23 sifre onaylama </title>

</head>

<body ng-app="myapp" ng-controller="mycontrol">

<input type="text" ng-model="kutu" placeholder="sifre"></br>

<input type="text" ng-model="kutu1" placeholder="sifre onayla"> </br>
<div ng-show="kutu!=kutu1" && kutu1 && kutu> sifreler uyusmuyor </div>
</br> <button ng-disabled="kutu!=kutu1 || !kutu || !kutu1">gonder</button>


</body>


</html>