<!DOCTYPE HTML>

<html lang="en">

<head>
	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

<script >
	
	var benimapp=angular.module("myapp",[]);
	benimapp.controller("mycontrol",function($scope){

	$scope.sayfa="ders13sayfa2.html"	
		

//sadece localhostta calisir
	});


//https://docs.angularjs.org/api/ng/function/angular.element
</script>


<meta charset="utf-8">

<title> Angular JS 13 ng-include</title>

</head>

<body ng-app="myapp" ng-controller="mycontrol">

	<button ng-click="sayfa='ders13sayfa2.html'"> sayfa 2</button> <button ng-click="sayfa='ders13sayfa3.html'"> sayfa 3</button>

<div ng-include="sayfa"></div>


</html>